.inner-category{
    border-radius: 6px;
    margin: 0 auto 1.5em;
    padding: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    -moz-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}


.pointer{
    cursor: pointer;
}

.quick-icons {    
    display: block;
    text-align: center;
  
}

.quick-icons i {
    font-size: 20px;
    display: inline-block;
   
}

.view-icon , .cart-icon {   
    color: var(--theme-orange);
    display: inline-block;
    margin-right: 10px;
}

.collections-page .product-info{
    margin:0 !important;
}

.collections-page .product-name{
    text-align: left !important ;
    
}

.collections-page .section-title{
    margin: 1.5em 0!important;
}

.single-sidebar-widget .menu-list ul li {
    padding: 5px 0;    margin-bottom: 0;
}
.single-sidebar-widget .menu-list ul li a {
    text-transform: capitalize;     
    color: #333;
    display: block;
    font-size: 14px;
}

.menu-list ul {
    padding-left: 0 !important;
}

.single-sidebar-widget  .widget-title {
    border-bottom: 1px solid #f4f4f4;
    color: var(--theme-orange);
}
.section-title{
    margin: 1.5em 0!important;
}

@media (max-width: 991px) {
    .flex-reverse{
        flex-direction: column-reverse;
    }
}

